body {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    background-color: grey;
    height: 100%;
    margin: 40px ;
    position: relative;
    min-height: 500px;
    width: 100vh;
 
}

.container h1 {
    margin: 25px 40px;
    text-align: center;
}

label {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 40%;
}

input {
    width: 90%;
    height: 30px;
    margin: 10px 25px;
    font-size: 20px;
    text-align: center;
}

.container::before {
    content: '';
    position: absolute;
    background: lightskyblue;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

.container::after {
    content: '';
    position: absolute;
    background: lightskyblue;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -2;
    filter: blur(40px);
    margin: 30px;
}

.container::before, .container::after {
    background: linear-gradient(red, green, blue, yellow);
}

.btn {
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px;
    background-color: beige;
    border: none;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

p {
    font-size: 25px;
    margin-left: 2rem;
    font-weight: bold;
}

