body{
	margin: 0;
	font-family: Montserrat sans-serif;
	background-color: rgb(134, 182, 221);
}

.logo{
	width: 50%;
}

header{
	display: flex;
	justify-content: space-between;
	margin: 10px 0px ;
	padding: 0 0px;
}	
.container{
	line-height: 1.6em;
	text-align: center;
	padding: .8em 1.2em;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


.together{
	width: 40%;
}

.flex h1{
	line-height: 1.3em;
	padding: 10px;
	color: #696969;
}

.flex p{
	text-align: center;
	padding: 0 .5em;

}

.free{
	background: #fff;
	width:5em;
	display: block;
	color: #FF69B4;
	border-radius: 20px;
	border-color:  #FFC0CB;
	border: solid;
	padding: .3em;
	text-decoration: none;
}

.get{
	background: #FF69B4;
	width: calc(100% 20em);
	color: #fff;
	border-radius: 30px;
	padding: .8em;
	text-decoration: none;
	border: solid;
}

.logofoot{ 
	width: 20%;
}

h2{
	font-size: 40px;
}

.blue-container{
	width: 100%;
	background: #4682B4;
	color: white;
}

.users{
	width: 45%;
}

.users-image{
	width: 45%;
}

.conversation{
	width: 45%;
}

h2{
	padding: 3px;
	color: #696969;
	line-height: 1.2em;
}


p{
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
}

.sub{
	background: #FF69B4;
	width:5em;
	display: block right;
	color: #fff;
	border-radius: 10px;
	border-color:  #FFC0CB;
	border: solid;
	padding: .3em;
	text-decoration: none;
}

.blue-container h3{
	margin: 0;
	text-align: center;
	color: black;
	padding-left: 1em;
}


a:hover{
	color: blue;
}

	
